<footer class="footer ">
    <div class="container">
       <div class="footer__inner">
          <div class="footer__item-list"><div class="footer__item footer__item--Atendimento-Vision is-first"><style>
                .btn-whatsapp {
                background: var(--color-primary-whatsapp);
                border-radius: 5px;
                padding: 0.3rem 3.2rem 0.6rem;
                float: left;
                color: var(--color-secundary-whatsapp);
                text-decoration: none;
                font-weight: 400;
                position: relative;
                text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
                line-height: 14px;
                }
                .btn-whatsapp:hover {
                background: var(--color-terciary-whatsapp);
                }
                .d--block {
                display: block;
                font-size: 15px
                }
                .icon-whats {
                position: absolute;
                left: 6.5%;
                font-size: 35px
                }
                .title-btn {
                font-size: 13px;
                line-height: 1.6
                }
                .footer__item.footer__item--Atendimento-Vision {
                grid-column: span 2;
                }
                .footer__item.footer__item--links.is-first {
                grid-column: span 2;
                }
                ul.footer--links {
                line-height: 1.3;
                }
             </style>
             <div style="min-with:300px">
                <span class="footer__item-title heading heading--small">SAC (Serviço de Atendimento ao Consumidor)</span>
                <ul class="footer--links" style="margin-block-start: 0px !important; padding-inline-start: 0px !important;">
                   <p><i class="far fa-clock"></i> Atendimento: Seg a Sex: 09hs às 18hs</p>
                   
                   <p><i class="fab fa-whatsapp"></i> Contato: <span class="highlight-white"> 41 99189-0090 </span> </p>
                    
                   
                   <p><i class="far fa-envelope"></i> Email: <span class="highlight-white">contato@mentachic.com</span></p>
                   
                </ul>
                
                <a href="https://api.whatsapp.com/send?phone=55041991890090" class="btn-whatsapp"><i class="fab fa-whatsapp icon-whats"></i>  <span class="title-btn"> Atendimento </span> <span class="d--block">via Whatsapp</span> </a>
                
             </div></div><div class="footer__item footer__item--links "><p class="footer__item-title heading heading--small">Menu de rodapé</p>
             <div class="footer__item-content">
                <ul class="linklist list--unstyled" role="list"><li class="linklist__item">
                      <a href="/pages/contact" class="link--faded">Contato</a>
                   </li><li class="linklist__item">
                      <a href="/pages/rastreio" class="link--faded">Rastreamento de Encomendas</a>
                   </li><li class="linklist__item">
                      <a href="/pages/aviso-legal" class="link--faded">Aviso Legal</a>
                   </li><li class="linklist__item">
                      <a href="/pages/politica-de-devolucao-e-reembolso" class="link--faded">Política de Devolução e Reembolso</a>
                   </li><li class="linklist__item">
                      <a href="/pages/politica-de-frete" class="link--faded">Política de Frete</a>
                   </li><li class="linklist__item">
                      <a href="/pages/politica-de-privacidade" class="link--faded">Política de Privacidade</a>
                   </li><li class="linklist__item">
                      <a href="/pages/termos-e-servicos" class="link--faded">Termos e Serviços</a>
                   </li></ul>
             </div></div><div class="footer__item footer__item--social-media "><p class="footer__item-title heading heading--small">Redes Sociais</p><div class="footer__item-content"><ul class="social-media  list--unstyled" role="list">
    <li class="social-media__item social-media__item--facebook">
      <a href="https://facebook.com/mentachic" target="_blank" rel="noopener" class="social-media__link" aria-label="Siga-nos em Facebook"><svg focusable="false" width="9" height="17" class="icon icon--facebook   " viewBox="0 0 9 17">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.486 16.2084L2.486 8.81845H0L0 5.93845L2.486 5.93845L2.486 3.81845C2.38483 2.79982 2.73793 1.78841 3.45107 1.05407C4.16421 0.319722 5.16485 -0.0628415 6.186 0.00844868C6.9284 0.00408689 7.67039 0.0441585 8.408 0.128449V2.69845L6.883 2.69845C6.4898 2.61523 6.08104 2.73438 5.79414 3.01585C5.50724 3.29732 5.3803 3.70373 5.456 4.09845L5.456 5.93845H8.308L7.936 8.81845H5.46L5.46 16.2084H2.486Z" fill="currentColor"></path>
      </svg></a>
    </li><li class="social-media__item social-media__item--instagram">
      <a href="https://www.instagram.com/_menta_chic" target="_blank" rel="noopener" class="social-media__link" aria-label="Siga-nos em Instagram"><svg focusable="false" width="16" height="16" class="icon icon--instagram   " viewBox="0 0 16 16">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C5.827 0 5.555.01 4.702.048 3.85.087 3.269.222 2.76.42a3.921 3.921 0 00-1.417.923c-.445.444-.719.89-.923 1.417-.198.509-.333 1.09-.372 1.942C.01 5.555 0 5.827 0 8s.01 2.445.048 3.298c.039.852.174 1.433.372 1.942.204.526.478.973.923 1.417.444.445.89.719 1.417.923.509.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.445-.01 3.298-.048c.852-.039 1.433-.174 1.942-.372a3.922 3.922 0 001.417-.923c.445-.444.719-.89.923-1.417.198-.509.333-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.298c-.039-.852-.174-1.433-.372-1.942a3.922 3.922 0 00-.923-1.417A3.921 3.921 0 0013.24.42c-.509-.198-1.09-.333-1.942-.372C10.445.01 10.173 0 8 0zm0 1.441c2.136 0 2.39.009 3.233.047.78.036 1.203.166 1.485.276.374.145.64.318.92.598.28.28.453.546.598.92.11.282.24.705.276 1.485.038.844.047 1.097.047 3.233s-.009 2.39-.047 3.233c-.036.78-.166 1.203-.276 1.485-.145.374-.318.64-.598.92-.28.28-.546.453-.92.598-.282.11-.705.24-1.485.276-.844.038-1.097.047-3.233.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.479 2.479 0 01-.92-.598 2.478 2.478 0 01-.598-.92c-.11-.282-.24-.705-.276-1.485-.038-.844-.047-1.097-.047-3.233s.009-2.39.047-3.233c.036-.78.166-1.203.276-1.485.145-.374.318-.64.598-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.844-.038 1.097-.047 3.233-.047zm0 9.226a2.667 2.667 0 110-5.334 2.667 2.667 0 010 5.334zm0-6.775a4.108 4.108 0 100 8.216 4.108 4.108 0 000-8.216zm5.23-.162a.96.96 0 11-1.92 0 .96.96 0 011.92 0z" fill="currentColor"></path>
      </svg></a>
    </li>
  </ul></div></div><div class="footer__item footer__item--Pagamento-Seguranca "><style>
                .selos-wrap {
                display: flex;
                float: left;
                margin-top: -15px;
                }
                .payment-box {
                margin-top: -5px;
                margin-bottom: .5rem;
                display:block;
                }
                @media screen and (min-width: 740px) {
                .payment-box {
                display: -webkit-box !important;
                flex-wrap: wrap;
                }
                }
                .separator-footer {
                width: 100%;
                height: 1px;
                background: #e1e1e1;
                float: left;
                margin: 15px auto;
                clear: both
                }
                .footer__item.footer__item--Pagamento-Seguranca {
                grid-column: span 2;
                }
                .payment-icon {
                width: 55px;
                height: 38px;
                border-radius: 6px;
                margin-top: .3rem;
                margin-right: 9px;
                line-height: 40px;
                font-size: 32px;
                flex-grow: 1
                }
                .payment-icon img {
                margin-top: 0;
                min-width: 27px !important;
                min-height: 30px !important
                }
                .no-margin-la {
                margin-left: 0
                }
                .margin--1a {
                margin-right: 5px !important;
                }
                .selo {
                width: 100%;
                height: 55px;
                margin-top: .7rem;
                margin-right: 20px
                }
                .selo img {
                display: block;
                margin: 0 auto
                } 
             </style>
             <div class="footer__item-title heading heading--small">
                <span class="footer__item-title heading heading--small">Formas de Pagamento</span>
                <div class="payment-box">
                   
                   
                   <div class="payment-icon margin-la"><img src="//mentachic.com/cdn/shop/t/3/assets/Visa.svg?v=175095157467496688931758085617" width="50" height="25" class="fluid-i lazyload" alt="Visa"></div>
                   
                    
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Diners.svg?v=172206476058203843591758085624" width="50" height="25" class="fluid-i lazyload" alt="Dinners"></div>
                   
                    
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/mastercard.svg?v=143834573334888903081758085645" width="50" height="25" class="fluid-i lazyload" alt="MasterCard"></div>
                   
                   
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/hipercard.svg?v=146069345323243641851758085614" width="50" height="25" class="fluid-i lazyload" alt="Hipercard"></div>
                   
                   
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Aura.svg?v=149555687056901726791758085654" width="50" height="25" class="fluid-i lazyload" alt="Auracard"></div>
                   
                   
                   <div class="payment-icon margin-la"><img src="//mentachic.com/cdn/shop/t/3/assets/Elo.svg?v=166293221890636844371758085609" width="50" height="25" class="fluid-i lazyload" alt="Elo"></div>
                   
                    
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Amex.svg?v=105656440509485608131758085647" width="50" height="25" class="fluid-i lazyload" alt="American Express"></div>
                   
                   
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Discover.svg?v=2230507726163289211758085635" width="50" height="25" class="fluid-i lazyload" alt="Discovercard"></div>
                   
                   
                   
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Pix.svg?v=160417580170125763001758085633" style="margin-top= 2px !important" width="50" height="25" class="fluid-i lazyload" alt="Pix"></div>
                   
                   
                </div>
                
                <div class="separator-footer"></div>
                <div class="footer__collapsible-content">
                   <div class="footer__item-title heading heading--small" style="display: inline-block !important;">Loja Verificada</div>
                   <div class="selos-wrap">
                      <a href="https://transparencyreport.google.com/safe-browsing/search?url=https://mentachic.com/products/blusa-grecia">
                         <div class="selo" style="margin-left:-5px !important"><img src="//mentachic.com/cdn/shop/t/3/assets/google-site-seguro-pt.svg?v=155074155766319559741758085664" class="lazyload" width="110" height="40" alt="Selo do Google"></div>
                      </a>
                            
                      <a href="https://www.reclameaqui.com.br/">
                         <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/Reclameaqui.svg?v=26705177644068796991758085612" class="lazyload" width="90" height="35" alt="Selo do Reclame Aqui"> </div>
                      </a>
                      
                      <a href="https://www.sslshopper.com/ssl-checker.html#hostname=https://mentachic.com/products/blusa-grecia">
                         <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/SSL.svg?v=141831784581712243861758085661" class="lazyload" width="80" height="35" alt="SLL Seguro"> </div>
                      </a>
                   </div>
                </div>
                
             </div></div></div>
       <div class="footer__aside"></div>
    </div>
    </div>
 </footer>