<div class="footer__item footer__item--Pagamento-Seguranca">
  <style>
    .footer__item.footer__item--Pagamento-Seguranca {
      grid-column: span 2;
      width: 100%;
      max-width: 1200px; /* mesmo limite do footer principal */
      margin: 0 auto; /* centraliza dentro do layout */
    }

    .footer__item-title.heading.heading--small {
      display: block;
      text-align: right;
      margin-right: 0;
      font-weight: bold;
    }

    .payment-box {
      margin-top: -5px;
      margin-bottom: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 4px;
    }

    .separator-footer {
      width: 100%;
      height: 1px;
      background: #e1e1e1;
      margin: 15px 0;
      clear: both;
    }

    .payment-icon {
      width: 55px;
      height: 38px;
      border-radius: 6px;
      line-height: 40px;
      font-size: 32px;
    }

    .payment-icon img {
      display: block;
      margin: 0 auto;
      width: 50px;
      height: 25px;
    }

    .footer__collapsible-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 5px;
    }

    .selos-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      margin-top: 5px;
    }

    .selo img {
      display: block;
      height: 40px;
      width: auto;
    }

    @media (max-width: 768px) {
      .footer__item-title.heading.heading--small,
      .footer__collapsible-content {
        text-align: center;
        align-items: center;
      }
      .payment-box,
      .selos-wrap {
        justify-content: center;
      }
    }
  </style>

  <div class="footer__item-title heading heading--small">Formas de Pagamento</div>

  <div class="payment-box">
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Visa.svg" width="50" height="25" alt="Visa"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Diners.svg" width="50" height="25" alt="Diners"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/mastercard.svg" width="50" height="25" alt="MasterCard"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/hipercard.svg" width="50" height="25" alt="Hipercard"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Aura.svg" width="50" height="25" alt="Aura"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Elo.svg" width="50" height="25" alt="Elo"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Amex.svg" width="50" height="25" alt="Amex"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Discover.svg" width="50" height="25" alt="Discover"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Pix.svg" width="50" height="25" alt="Pix"></div>
  </div>

  <div class="separator-footer"></div>

  <div class="footer__item-title heading heading--small">Loja Verificada</div>

  <div class="selos-wrap">
    <a href="https://transparencyreport.google.com/safe-browsing/search?url=https://mentachic.com/collections/blusas">
      <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/google-site-seguro-pt.svg" width="110" height="40" alt="Selo Google"></div>
    </a>
    <a href="https://www.reclameaqui.com.br/">
      <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/Reclameaqui.svg" width="90" height="35" alt="Reclame Aqui"></div>
    </a>
    <a href="https://www.sslshopper.com/ssl-checker.html#hostname=https://mentachic.com/collections/blusas">
      <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/SSL.svg" width="80" height="35" alt="Certificado SSL"></div>
    </a>
  </div>
</div>
