<div class="footer__item footer__item--Pagamento-Seguranca "><style>
                .selos-wrap {
                display: flex;
                float: left;
                margin-top: -15px;
                }
                .payment-box {
                margin-top: -5px;
                margin-bottom: .5rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 8px;
                margin-right: 40px;
                width: 100%;
                }
                .separator-footer {
                width: 100%;
                height: 1px;
                background: #e1e1e1;
                float: left;
                margin: 15px auto;
                clear: both
                }
                .footer__item.footer__item--Pagamento-Seguranca {
                grid-column: span 2;
                }
                .payment-icon {
                width: 55px;
                height: 38px;
                border-radius: 6px;
                margin-top: .3rem;
                margin-right: 9px;
                line-height: 40px;
                font-size: 32px;
                flex-grow: 0;
                }
                .payment-icon img {
                margin-top: 0;
                min-width: 27px !important;
                min-height: 30px !important
                }
                .no-margin-la {
                margin-left: 0
                }
                .margin--1a {
                margin-right: 5px !important;
                }
                .selo {
                width: 100%;
                height: 55px;
                margin-top: .7rem;
                margin-right: 20px
                }
                .selo img {
                display: block;
                margin: 0 auto
                } 
             </style>
             <div class="footer__item-title heading heading--small">
                <span class="footer__item-title heading heading--small">Formas de Pagamento</span>
                <div class="payment-box">
                   
                   
                   <div class="payment-icon margin-la"><img src="//mentachic.com/cdn/shop/t/3/assets/Visa.svg?v=175095157467496688931758085617" width="50" height="25" class="fluid-i lazyload" alt="Visa"></div>
                   
                    
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Diners.svg?v=172206476058203843591758085624" width="50" height="25" class="fluid-i lazyload" alt="Dinners"></div>
                   
                    
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/mastercard.svg?v=143834573334888903081758085645" width="50" height="25" class="fluid-i lazyload" alt="MasterCard"></div>
                   
                   
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/hipercard.svg?v=146069345323243641851758085614" width="50" height="25" class="fluid-i lazyload" alt="Hipercard"></div>
                   
                   
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Aura.svg?v=149555687056901726791758085654" width="50" height="25" class="fluid-i lazyload" alt="Auracard"></div>
                   
                   
                   <div class="payment-icon margin-la"><img src="//mentachic.com/cdn/shop/t/3/assets/Elo.svg?v=166293221890636844371758085609" width="50" height="25" class="fluid-i lazyload" alt="Elo"></div>
                   
                    
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Amex.svg?v=105656440509485608131758085647" width="50" height="25" class="fluid-i lazyload" alt="American Express"></div>
                   
                   
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Discover.svg?v=2230507726163289211758085635" width="50" height="25" class="fluid-i lazyload" alt="Discovercard"></div>
                   
                   
                   
                   <div class="payment-icon margin--1a"><img src="//mentachic.com/cdn/shop/t/3/assets/Pix.svg?v=160417580170125763001758085633" style="margin-top= 2px !important" width="50" height="25" class="fluid-i lazyload" alt="Pix"></div>
                   
                   
                </div>
                
                <div class="separator-footer"></div>
                <div class="footer__collapsible-content">
                   <div class="footer__item-title heading heading--small" horizontal_alignment='end' style="display: inline-block !important;">Loja Verificada</div>
                   <div class="selos-wrap">
                      <a href="https://transparencyreport.google.com/safe-browsing/search?url=https://mentachic.com/collections/blusas">
                         <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/google-site-seguro-pt.svg?v=155074155766319559741758085664" class="lazyload" width="110" height="40" alt="Selo do Google"></div>
                      </a>
                            
                      <a href="https://www.reclameaqui.com.br/">
                         <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/Reclameaqui.svg?v=26705177644068796991758085612" class="lazyload" width="90" height="35" alt="Selo do Reclame Aqui"> </div>
                      </a>
                      
                      <a href="https://www.sslshopper.com/ssl-checker.html#hostname=https://mentachic.com/collections/blusas">
                         <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/SSL.svg?v=141831784581712243861758085661" class="lazyload" width="80" height="35" alt="SLL Seguro"> </div>
                      </a>
                   </div>
                </div>
                
             </div></div>