<div class="footer__item footer__item--Pagamento-Seguranca">
  <style>
    .footer__item.footer__item--Pagamento-Seguranca {
      grid-column: span 2;
      width: 100%;
    }

    .footer__item-title.heading.heading--small {
      display: block;
      text-align: right;
      margin-right: 40px;
      font-weight: bold;
    }

    .payment-box {
      margin-top: -5px;
      margin-bottom: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 8px;
      margin-right: 40px;
    }

    .separator-footer {
      width: 100%;
      height: 1px;
      background: #e1e1e1;
      margin: 15px 0;
      clear: both;
    }

    .payment-icon {
      width: 55px;
      height: 38px;
      border-radius: 6px;
      line-height: 40px;
      font-size: 32px;
    }

    .payment-icon img {
      display: block;
      margin: 0 auto;
      min-width: 27px !important;
      min-height: 30px !important;
    }

    .footer__collapsible-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 40px;
      margin-top: 5px;
    }

    .selos-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      margin-top: 5px;
    }

    .selo img {
      display: block;
      height: 40px;
    }

    @media (max-width: 768px) {
      .footer__item-title.heading.heading--small,
      .footer__collapsible-content {
        text-align: center;
        align-items: center;
        margin-right: 0;
      }
      .payment-box {
        justify-content: center;
        margin-right: 0;
      }
    }
  </style>

  <div class="footer__item-title heading heading--small">Formas de Pagamento</div>
  
  <div class="payment-box">
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Visa.svg?v=175095157467496688931758085617" alt="Visa"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Diners.svg?v=172206476058203843591758085624" alt="Diners"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/mastercard.svg?v=143834573334888903081758085645" alt="MasterCard"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/hipercard.svg?v=146069345323243641851758085614" alt="Hipercard"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Aura.svg?v=149555687056901726791758085654" alt="Aura"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Elo.svg?v=166293221890636844371758085609" alt="Elo"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Amex.svg?v=105656440509485608131758085647" alt="Amex"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Discover.svg?v=2230507726163289211758085635" alt="Discover"></div>
    <div class="payment-icon"><img src="//mentachic.com/cdn/shop/t/3/assets/Pix.svg?v=160417580170125763001758085633" alt="Pix"></div>
  </div>

  <div class="separator-footer"></div>

   <div class="footer__item-title heading heading--small">Loja Verificada</div>
   <div class="selos-wrap">
      <a href="https://transparencyreport.google.com/safe-browsing/search?url=https://mentachic.com/collections/blusas">
        <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/google-site-seguro-pt.svg?v=155074155766319559741758085664" alt="Selo Google"></div>
      </a>
      <a href="https://www.reclameaqui.com.br/">
        <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/Reclameaqui.svg?v=26705177644068796991758085612" alt="Reclame Aqui"></div>
      </a>
      <a href="https://www.sslshopper.com/ssl-checker.html#hostname=https://mentachic.com/collections/blusas">
        <div class="selo"><img src="//mentachic.com/cdn/shop/t/3/assets/SSL.svg?v=141831784581712243861758085661" alt="Certificado SSL"></div>
      </a>
   </div>
</div>
