<div class="product-payment-methods" {{ block.shopify_attributes }}>
  <center
    style="
      background: white;
      border: 1px solid #f6f6f8;
      border-radius: var(--arredonda-box);
      padding: 2px;
      margin-top: 8px;
      box-shadow: 0px 5px 6px -5px #f6f6f8;
    "
  >
    <div class="security__payment" style="margin: 0px 0px 8px;">
      <p
        style="
          padding: 0px 0px 0px 0px;
          background: #f6f6f8;
          margin-top: -6px;
          border-radius: 4px;
        "
      >
        <i style="color: #3a2a2f;"></i>
        <b>FORMAS DE PAGAMENTO</b>
      </p>
    </div>
    <div
      class="payment-list2"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        padding: 8px 0;
      "
    >
      <img
        class="cartoes"
        style="max-height: 32px; width: auto; max-width: 64px;"
        src="//mentachic.com/cdn/shop/t/3/assets/Visa2.svg?v=180185649995274084631758085638"
        alt="Visa"
      >
      <img
        class="cartoes"
        style="max-height: 32px; width: auto; max-width: 64px;"
        src="//mentachic.com/cdn/shop/t/3/assets/Master2.svg?v=146093898394370916191758085652"
        alt="Mastercard"
      >
      <img
        class="cartoes"
        style="max-height: 32px; width: auto; max-width: 64px;"
        src="//mentachic.com/cdn/shop/t/3/assets/Hipercard2.svg?v=50043482692841958771758085666"
        alt="Hipercard"
      >
      <img
        class="cartoes"
        style="max-height: 32px; width: auto; max-width: 64px;"
        src="//mentachic.com/cdn/shop/t/3/assets/Elo2.svg?v=84475019636691837191758085607"
        alt="Elo"
      >
      <img
        class="cartoes"
        style="max-height: 32px; width: auto; max-width: 64px;"
        src="//mentachic.com/cdn/shop/t/3/assets/Amex2.svg?v=73183256515396699051758085657"
        alt="Amex"
      >
      <img
        class="cartoes"
        style="max-height: 32px; width: auto; max-width: 64px;"
        src="//mentachic.com/cdn/shop/t/3/assets/Pix2.svg?v=20188091059308114711758085621"
        alt="Pix"
      >
    </div>
  </center>
</div>

{% schema %}
{
  "name": "Payment methods banner",
  "settings": []
}
{% endschema %}
